@model Book

@{
    ViewData["Title"] = "Update book";
}

<div class="d-flex flex-column align-items-center justify-content-center w-100 h-100 mb-auto">
    <h2>Update the book</h2>
    <hr />
    @if (TempData["Error"] != null)
    {
        <div class="col-md-12 alert alert-danger">
            <span><b>Sorry!</b> - @TempData["Error"]</span>
        </div>
    }
    <form method="post" asp-action="Update" asp-controller="Book" class="w-60">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />
        <div class="form-group form-floating mb-2">
            <input asp-for="Title" class="form-control" />
            <label asp-for="Title" class="control-label"></label>
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div class="form-group form-floating mb-2">
            <input asp-for="Language" class="form-control" />
            <label asp-for="Language" class="control-label"></label>
            <span asp-validation-for="Language" class="text-danger"></span>
        </div>
        <div class="form-group form-floating mb-2">
            <input asp-for="CategoryId" class="form-control" />
            <label asp-for="CategoryId" class="control-label"></label>
            <span asp-validation-for="CategoryId" class="text-danger"></span>
        </div>
        <div class="form-group mb-2">
            <label asp-for="ReleaseDate" class="control-label"></label>
            <input asp-for="ReleaseDate" class="form-control" />
            <span asp-validation-for="ReleaseDate" class="text-danger"></span>
        </div>
@*        <div class="form-group mb-2">
            <label asp-for="@Model.BookDetails.NumberOfPages" class="control-label"></label>
            <input asp-for="@Model.BookDetails.NumberOfPages" class="form-control" type="number" min="0" />
            <span asp-validation-for="@Model.BookDetails.NumberOfPages" class="text-danger"></span>
        </div>
        <div class="form-group mb-2">
            <label asp-for="@Model.BookDetails.Rating" class="control-label"></label>
            <input asp-for="@Model.BookDetails.Rating" class="form-control" min="0" max="5.0" type="number" step="0.1" />
            <span asp-validation-for="@Model.BookDetails.Rating" class="text-danger"></span>
        </div>*@
        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>
    </form>
</div>