@using MVCProject.ViewModels
@model UserViewModel

@{
    ViewData["Title"] = "Dashboard";
}

<div class="d-flex flex-row align-items-center justify-content-center w-100 h-100 mb-auto">
    <div class="w-30 h-100 d-flex flex-column align-items-center">
        <div class="w-100 h-50 dashboardAvatar">
            @if (User.IsInRole("admin")) {
                <img src="librarian.png" alt="Student" class="rounded w-50 font-weight-bold mt-4" />
                <p class="m-1">Admin</p>
            } else {
                <img src="student.png" alt="Student" class="rounded w-50 font-weight-bold mt-4" />
                <p class="m-1">Student</p>
            }

            <p class="fw-bolder userInfo m-2 fs-4">@Model.FirstName @Model.LastName</p>
        </div>
        <div class="w-100 h-50 mt-auto dashboardLeftPanel d-flex align-items-center justify-content-center flex-column">
            <a class="w-50 btn btn-primary fs-4 font-weight-bold" asp-action="Index" asp-controller="UserProfile">USER INFO</a>
            <a class="w-50 btn btn-primary fs-4 font-weight-bold" asp-action="Index" asp-controller="Book">LIST OF BOOKS</a>
            @if (User.IsInRole("admin"))
            {
                <a class="w-50 btn btn-primary fs-4 font-weight-bold" asp-action="Add" asp-controller="Book">ADD A BOOK</a>
            }
        </div>
    </div>
    <div class="w-70 h-100 bg-light d-flex flex-column align-items-center justify-content-center">
        <h2 class="mb-4">User information</h2>
            <div class="h-10 fs-4 m-1"><span class="bold">First Name: </span>@Model.FirstName</div>
            <div class="h-10 fs-4 m-1"><span class="bold">Last Name: </span>@Model.LastName</div>
            <div class="h-10 fs-4 m-1"><span class="bold">Email Address: </span>@Model.EmailAddress</div>
            <div class="h-10 fs-4 m-1"><span class="bold">Date of birth: </span>@Model.DateOfBirth.ToString().Substring(0, 10)</div>
            <div class="h-10 fs-4 m-1"><span class="bold">Gender: </span>@Model.Gender</div>
    </div>
</div>